<% provide(:title, "ホーム") %>
<div class="center jumbotron">　<!--jumbotronやリンクに使用されているbtn、btn-primary、btn-lgは全てBootStrapによって特別な意味を持つ-->
  <h1>弓道的中管理</h1>
  <%= link_to "アカウント作成", '#', class: "btn btn-lg btn-primary" %>
</div>
