<header class="navbar navbar-fixed-top navbar-inverse">　<!--class="navbar navbar-fixed-top navbar-inverse"はBootStrapによって意味が与えられる-->
  <div class="container">
    <%= link_to "弓道的中管理", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>